<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Game Recommendation</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/styles.css') }}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Agdasima&display=swap" rel="stylesheet">
            <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
        </head>
        <body>
            
            <h1>GAME RECOMMENDATION</h1>
        
            <form action="/" method="POST">
                <div class="search_field">
                    <div class="search_field1">
                        <img src="{{ url_for('static',filename='/search.svg') }}" rel="icon">
                        <input type="text" name="game_name" placeholder="Search Game..." class="search" value="{{ last }}">
                        <span><input type="number" min="1" max="99" step="1" value="10" name="game_count" ></span>
                    
                    </div>
                    <img src="{{ url_for('static',filename='/icon.svg') }}" rel="icon" class="icon">
                </div>
                <br>
                <button type="submit">Search</button>
            </form>
        
            <div class="content">
                {% for game in list_of_games %}
                {% if game[1] == 'This Game is not published on steam' %}
                <a href="https://www.google.com/search?q={{ game[0] }}">
                {% else %}
                <a href="{{ game[1] }}">
                {% endif %}
                    <img src="{{ game[2] }}">
                    <h2>{{ game[0] }}</h2>
                    <div>{% if game[1] == 'This Game is not published on steam' %}
                        Not on Steam
                    {% else %}
                        Click To Go To Steam
                    {% endif %}</div>
                </a>
                {% endfor %}
            </div>
            
            <script>
                $(function() {
                    $.ajax({
                        url: '{{ url_for("autocomplete") }}'
                    }).done(function (data){
                        $('.search').autocomplete({
                            source: data,
                            minLength: 2
                        });
                    });
                });
            </script>
        </body>
        
        </html>
        


